<!DOCTYPE html>
{% extends 'maket.html' %}
{% load static %}
{% block detail %}
{% load crispy_forms_tags %}

<html>
<head>
	<meta charset="utf-8" />
	<title>Модели в Django</title>
</head>
<nav class="navbar navbar-default">
	<div class="container-fluid" style="background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612170254_83-p-fon-gradient-fioletovo-zheltii-97.jpg)">
		<div class="navbar-header" style="background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612170254_83-p-fon-gradient-fioletovo-zheltii-97.jpg)>
			<p style="font-style:italic"><font color="white"><h3>Amazonchik</h3></font></p>
		</div>
		<div>
			<ul class="nav navbar">
				<button type="button" class="btn btn-dark"><a href="{% url 'manager_page' manager_id=user.id %}" class="link-dark">Main Page</a></button>
			</ul>
		</div>
	</div>
</nav>
<body class="container">
	<form method="POST">
		{% csrf_token %}
		{% for item in form %}
		{{ item|as_crispy_field }}
		{% endfor %}
		<input type="submit" value="Сохранить" >
	</form>
</body>
</html>
{% endblock %}