{% extends 'maket.html' %}
{% load static %}
{% block detail %}

{% block script %}
<script>
	$(document).ready(function(){
		var ctx = document.getElementById('Ave_Sales').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [
					{% for item in type %}
					"{{ item.type }}",
					{% endfor %}
				],
				datasets: [{
					label: 'Средние продажи',
					data: [
						{% for item in ave_sales %}
						"{{ item }}",
						{% endfor %}
					],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	});	
</script>
{% endblock %}

<nav class="navbar navbar-default">
	<div class="container-fluid" style="background-color: #a4828f ">
		<div class="navbar-header">
			<h1> Amazonchik </h1>
			<form class='form' method="POST" action="" >
				{% csrf_token %}
				{{form}}
				<input type="Submit" name="submit" value="Filter"/>
			</form>
		</div>
		<div>
			<ul class="nav navbar">
				{% if user.is_authenticated %}
				<button type="button" class="btn btn-warning"><a href="{% url 'manager_page' manager_id=user.id %}" class="link-dark">Main Page</a></button>
				<ul>
				 <li class="nav-link active"><font color=#FFF5EE>User: {{ user.get_username }}  </font></li>
				 <li class="nav-link active"><a href="{% url 'logout'%}?next={{request.path}}"><font color=#FFF5EE>Logout</font></a></li>
				{% else %}
				 <li><a href="{% url 'login'%}?next={{request.path}}"><font color=#FFF5EE>Login</font></a></li>
				{% endif %} 
				</ul>
			</ul>
		</div>
	</div>
</nav>

{% if user.is_authenticated %}

<table class="table table table-hover" >
	<thead>
		<tr>
			<th scope="col">Manager</th>
			<th scope="col">Product Name</th>
			<th scope="col">Min Sales</th>
			<th scope="col">Max sales</th>
			<th scope="col">Sales</th>
		</tr>
	</thead>
	<tbody>
	<tr>
	{% for i,k in dicti.items %}
	<th scope="row">{{i.manager}}</th>
	<th scope="row">{{i}}</th>
	<th scope="row">{{i.status_min}}</th>
	<th scope="row">{{i.status_need}}</th>
	<th scope="row">{{k}}</th>
	</tr>
	{% endfor %}
	</tbody>
</table>
<br>

{{monthes}}
{% endif %}

{% endblock %}