{% extends 'maket.html' %}
{% load static %}
{% block detail %}

{% block script %}
{% if user.get_username == 'Max' %}
<!-- Для Максима -->
 <script>
	 $(document).ready(function(){
		 var ctx = document.getElementById('Max_Total_Sales').getContext('2d');
		 var myChart = new Chart(ctx, {
			 type: 'bar',
			 data: {
				 labels: [
					 {% for item in maxim %}
					 "{{ item.type }}",
					 {% endfor %}
				 ],
				 datasets: [{
					 label: 'Sales',
					 data: [
						 {% for item in max_total_sales %}
						 "{{ item }}",
						 {% endfor %}
					 ],
					 backgroundColor: [
						 'rgba(255, 99, 132, 0.2)',
						 'rgba(54, 162, 235, 0.2)',
						 'rgba(255, 206, 86, 0.2)',
						 'rgba(75, 192, 192, 0.2)',
						 'rgba(153, 102, 255, 0.2)',
						 'rgba(255, 159, 64, 0.2)'
					 ],
					 borderColor: [
						 'rgba(255, 99, 132, 1)',
						 'rgba(54, 162, 235, 1)',
						 'rgba(255, 206, 86, 1)',
						 'rgba(75, 192, 192, 1)',
						 'rgba(153, 102, 255, 1)',
						 'rgba(255, 159, 64, 1)'
					 ],
					 borderWidth: 1
				 }]
			 },
			 options: {
				 scales: {
					 y: {
						 beginAtZero: true
					 }
				 }
			 }
		 });
	 });	
 </script>
 <script>
	 $(document).ready(function(){
		 var ctx = document.getElementById('Max_Ave_Sales').getContext('2d');
		 var myChart = new Chart(ctx, {
			 type: 'bar',
			 data: {
				 labels: [
					 {% for item in maxim %}
					 "{{ item.type }}",
					 {% endfor %}
				 ],
				 datasets: [{
					 label: 'Средние продажи',
					 data: [
						 {% for item in max_ave_sales %}
						 "{{ item }}",
						 {% endfor %}
					 ],
					 backgroundColor: [
						 'rgba(255, 99, 132, 0.2)',
						 'rgba(54, 162, 235, 0.2)',
						 'rgba(255, 206, 86, 0.2)',
						 'rgba(75, 192, 192, 0.2)',
						 'rgba(153, 102, 255, 0.2)',
						 'rgba(255, 159, 64, 0.2)'
					 ],
					 borderColor: [
						 'rgba(255, 99, 132, 1)',
						 'rgba(54, 162, 235, 1)',
						 'rgba(255, 206, 86, 1)',
						 'rgba(75, 192, 192, 1)',
						 'rgba(153, 102, 255, 1)',
						 'rgba(255, 159, 64, 1)'
					 ],
					 borderWidth: 1
				 }]
			 },
			 options: {
				 scales: {
					 y: {
						 beginAtZero: true
					 }
				 }
			 }
		 });
	 });	
 </script>
 <script>
	 $(document).ready(function(){
		 var ctx = document.getElementById('Max Общие продажи в $').getContext('2d');
		 var myChart = new Chart(ctx, {
			 type: 'bar',
			 data: {
				 labels: [
					 {% for item in maxim %}
					 "{{ item.type }}",
					 {% endfor %}
				 ],
				 datasets: [{
					 label: 'Общие продажи в $',
					 data: [
						 {% for item in max_got_money %}
						 "{{ item }}",
						 {% endfor %}
					 ],
					 backgroundColor: [
						 'rgba(255, 99, 132, 0.2)',
						 'rgba(54, 162, 235, 0.2)',
						 'rgba(255, 206, 86, 0.2)',
						 'rgba(75, 192, 192, 0.2)',
						 'rgba(153, 102, 255, 0.2)',
						 'rgba(255, 159, 64, 0.2)'
					 ],
					 borderColor: [
						 'rgba(255, 99, 132, 1)',
						 'rgba(54, 162, 235, 1)',
						 'rgba(255, 206, 86, 1)',
						 'rgba(75, 192, 192, 1)',
						 'rgba(153, 102, 255, 1)',
						 'rgba(255, 159, 64, 1)'
					 ],
					 borderWidth: 1
				 }]
			 },
			 options: {
				 scales: {
					 y: {
						 beginAtZero: true
					 }
				 }
			 }
		 });
	 });	
 </script>
 {% else %}
<script>
	$(document).ready(function(){
		var ctx = document.getElementById('Total_Sales').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [
					{% for item in type %}
					"{{ item.type }}",
					{% endfor %}
				],
				datasets: [{
					label: 'Sales',
					data: [
						{% for item in type_1 %}
						"{{ item }}",
						{% endfor %}
					],
					backgroundColor: [
						 'rgba(255, 99, 132, 0.6)',
						 'rgba(54, 162, 235, 0.6)',
						 'rgba(255, 206, 86, 0.6)',
						 'rgba(75, 192, 192, 0.6)',
						 'rgba(153, 102, 255, 0.6)',
						 'rgba(255, 159, 64, 0.6)'
					 ],
					 borderColor: [
						 'rgba(255, 99, 132, 1)',
						 'rgba(54, 162, 235, 1)',
						 'rgba(255, 206, 86, 1)',
						 'rgba(75, 192, 192, 1)',
						 'rgba(153, 102, 255, 1)',
						 'rgba(255, 159, 64, 1)'
					 ],
					 borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	});	
</script>
<script>
	$(document).ready(function(){
		var ctx = document.getElementById('Ave_Sales').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [
					{% for item in type %}
					"{{ item.type }}",
					{% endfor %}
				],
				datasets: [{
					label: 'Средние продажи',
					data: [
						{% for item in ave_sales %}
						"{{ item }}",
						{% endfor %}
					],
					backgroundColor: [
						 'rgba(255, 99, 132, 0.6)',
						 'rgba(54, 162, 235, 0.6)',
						 'rgba(255, 206, 86, 0.6)',
						 'rgba(75, 192, 192, 0.6)',
						 'rgba(153, 102, 255, 0.6)',
						 'rgba(255, 159, 64, 0.6)'
					 ],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	});	
</script>
<script>
	$(document).ready(function(){
		var ctx = document.getElementById('Общие продажи в $').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [
					{% for item in type %}
					"{{ item.type }}",
					{% endfor %}
				],
				datasets: [{
					label: 'Общие продажи в $',
					data: [
						{% for item in money %}
						"{{ item }}",
						{% endfor %}
					],
					backgroundColor: [
						 'rgba(255, 99, 132, 0.6)',
						 'rgba(54, 162, 235, 0.6)',
						 'rgba(255, 206, 86, 0.6)',
						 'rgba(75, 192, 192, 0.6)',
						 'rgba(153, 102, 255, 0.6)',
						 'rgba(255, 159, 64, 0.6)'
					 ],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	});	
</script>
{% endif %}

{% endblock %}


<nav class="navbar navbar-default">
	<div class="container-fluid" style="background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612170254_83-p-fon-gradient-fioletovo-zheltii-97.jpg)">
		<div class="navbar-header">
			<h1><font color=#FFF5EE> Amazonchik </font></h1>
		</div>
		<div>
			<ul class="nav navbar">
				<button type="button" class="btn btn-warning"><a href="{% url 'acos' %}" class="link-dark">Реклама</a></button>

				{% if user.is_authenticated and user.get_username != 'Chief' and user.get_username != 'Max' and user.get_username != 'MiMurka' %}
				<button type="button" class="btn btn-warning"><a href="{% url 'adding new' %}" class="link-dark">Add Products</a></button>
				<ul>
				 <li class="nav-link active"><font color=#FFF5EE>User: {{ user.get_username }}  </font></li>
				 <li class="nav-link active"><a href="{% url 'logout'%}?next={{request.path}}"><font color=#FFF5EE>Logout</font></a></li>
				 
				{% elif user.is_authenticated and user.get_username == 'Chief' or user.is_authenticated and user.get_username == 'MiMurka' %}
				<button type="button" class="btn btn-warning"><a href="{% url 'table' %}" class="link-dark">Sales</a></button>
				<ul>
				 <li class="nav-link active"><font color=#FFF5EE>User: {{ user.get_username }}  </font></li>
				 <li class="nav-link active"><a href="{% url 'logout'%}?next={{request.path}}"><font color=#FFF5EE>Logout</font></a></li>
				 {% elif user.is_authenticated and user.get_username == 'Max' %}
				 <button type="button" class="btn btn-warning"><a href="{% url 'table' %}" class="link-dark">Sales</a></button>
				 <ul>
				  <li class="nav-link active"><font color=#FFF5EE>User: {{ user.get_username }}  </font></li>
				  <li class="nav-link active"><a href="{% url 'logout'%}?next={{request.path}}"><font color=#FFF5EE>Logout</font></a></li>
				{% else %}
				 <li><a href="{% url 'login'%}?next={{request.path}}"><font color=#FFF5EE><h2>Login</h2></font></a></li>
				{% endif %} 
				</ul>
			</ul>
		</div>
	</div>
</nav>
{% if user.is_authenticated and user.get_username != "Max" %}
<div class="container">
	<div class="row sidebar-heading">
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sidebar-sticky">
					<ul class="nav navbar-nav">
						<li class="active navbar-brand"><font color=#FFF5EE> Managers: </font></li>
						{% if user.get_username == 'Sergik' or user.get_username == 'Chief' or user.get_username == 'MiMurka' or user.get_username == 'Chief'%}
						{% for person in managers %}
							{% if person.username == 'Maxim' or person.username == 'Ira🐝' or person.username == 'Chief💲' or person.username == 'Nochniki🌚'%}
							{% else %}
							<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'manager_page' manager_id=person.id  %}"><font color=#FFF5EE>
							{{ person.username }}
							{% endif %}
							</font></a></li>
						{% endfor %}
						{% else %}
						<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'manager_page' manager_id=user.id %}"><font color=#FFF5EE>{{ user.get_username }}
						</font></a></li>
						{% endif %}
						<br>
						{% if user.get_username == 'MiMurka' or user.get_username == 'Sergik' %}
						<button type="button" class="btn"><a href="{% url 'motivation' %}" class="link-light">Motivation</a></button>
						{% endif %}
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sidebar-sticky">
					<ul class="nav navbar-nav">
						<li class="active navbar-brand"><font color=#FFF5EE> Brands: </font></li>
						{% for obj in brands %}
						<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'brand' manager_id=user.id brandname=obj.id %}"><font color=#7B68EE>
							{{ obj }}
							</font></a></li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sidebar-sticky" style="overflow-x: hidden;
				position: relative;
				top: 0;
				height: calc(100vh - 3px);
				padding-top: .5rem;
				overflow-y: auto;">
					<ul class="nav navbar-nav">
						<li class="active navbar-brand"><font color=#FFF5EE> Products: </font></li>
						{% for item in type %}
							<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'product' name=item.type %}">
							{% if item.status == 'BAN' %}
							<font color=#F81B02>  
							{% elif item.status == 'OSS' %}
							<font color=#F6C909> 
							{% elif item.status == 'SSS' %}
							<font color=#A9A62C> 
							{% elif item.status == 'InDev' %}
							<font color=#ddd2eb> 
							{% elif item.status == 'IsS' %}
							<font color=#12AB03> 
							{% else %}
							<font color=#9046A0> 
							{% endif %}
							{{ item.type }}
							</font></a></li>
							
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		
		<!-- Table here -->
		<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="background-image: url(https://kartinkin.com/uploads/posts/2021-01/1611201074_13-p-zadnii-fon-v-2d-13.jpg); background-attachment:fixed, scroll;">
			<ul class="nav navbar-nav">
				<li class="active navbar-brand">
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" align="left">
						<form class='form' method="POST" action="" >
							<font color=#FFF5EE>
							Sales     
							</font>
							{% for i in form %}
								{{i}}
							{% endfor %}
							<input type="Submit" name="submit" value="Filter"/>
						</form>
					</div>
				</li>
				<li class="nav navbar-toggler"><canvas id="Total_Sales" width="400" height="200"></canvas></li>
				<li class="nav navbar-toggler"><canvas id="Ave_Sales" width="400" height="200"></canvas></li>
				{% if user.get_username == 'MiMurka' or user.get_username == 'Chief' or user.get_username == 'Sergik' %} 
				<li class="nav navbar-toggler"><canvas id="Общие продажи в $" width="400" height="200"></canvas></li>
				{% endif %}
				<table class="table table table-hover" style="background-color:white">
					<thead>
						<tr>
							<th scope="col">rec_id</th>
							<th scope="col">Product Name</th>
							<th scope="col">Date</th>
							<th scope="col">Sales</th>
						</tr>
					</thead>
					<tbody>
					{% load multifor %}
					{% for x in last_3_id; y in last_3; z in last_3_date ; f in last_3_sales %}
					<tr>
					<th scope="row">{{x}}</th>
						<td>{{y}}</td>
						<td>{{z}}</td>
						<td>{{f}}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				<!-- {% for item in type %}
				<div class="accordion" id="accordionExample">
					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
						  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							{{item}}
						  </button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							<strong>Это тело аккордеона первого элемента.</strong> По умолчанию оно скрыто, пока плагин сворачивания не добавит соответствующие классы, которые мы используем для стилизации каждого элемента. Эти классы управляют общим внешним видом, а также отображением и скрытием с помощью переходов CSS. Вы можете изменить все это с помощью собственного CSS или переопределить наши переменные по умолчанию. Также стоит отметить, что практически любой HTML может быть помещен в <code>.accordion-body</code>, хотя переход ограничивает переполнение.
						  </div>
						</div>
					  </div>
					</div>
				{% endfor %} -->
			</ul>
		</div>
	</div>
</div>


{% elif user.get_username == 'Max' %}
<div class="container">
	<div class="row sidebar-heading">
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sidebar-sticky" >
					<ul class="nav navbar-nav">
						<li class="active navbar-brand"><font color="white"> Managers: </font></li>
						{% if user.get_username == 'Sergik' or user.get_username == 'Chief' or user.get_username == 'MiMurka' or user.get_username == 'Chief'%}
						{% for person in managers %}
						<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'manager_page' manager_id=person.id  %}"><font color=#FFF5EE>
							{{ person.username }}
							</font></a></li>
						{% endfor %}
						{% else %}
						<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'manager_page' manager_id=user.id %}"><font color=#FFF5EE>{{ user.get_username }}
						</font></a></li>
						{% endif %}
						<br>
						{% if user.get_username == 'MiMurka' or user.get_username == 'Sergik' %}
						<button type="button" class="btn"><a href="{% url 'motivation' %}" class="link-light">Motivation</a></button>
						{% endif %}
					</ul>
				</div>
				<!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sidebar-sticky" style="background-color: #f5dbdb">
					<ul class="nav navbar-nav">
						<li class="active navbar-brand"> Brands: </li>
						{% for obj in brands %}
						<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'brand' manager_id=user.id brandname=obj.id %}"><font color=#7B68EE>
							{{ obj }}
							</font></a></li>
						{% endfor %}
					</ul>
				</div> -->

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-8 sidebar-sticky">
					<ul class="nav navbar-nav">
					<li class="active navbar-brand"><font color="white">Products:</font></li>
					{% for item in maxim %}
					<li class="nav navbar-toggler"><a class="nav-link active" aria-current="page" href="{% url 'product' name=item.type %}"><font color=#FFF5EE>
						{{ item }}
					</font></a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		
		<!-- Table here -->
		<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="background-color: #FFFAFA; ">
			<ul class="nav navbar-nav">
				<li class="active navbar-brand">
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" align="left">
						<form class='form' method="POST" action="" >
							Sales     
							{% for i in form %}
								{{i}}
							{% endfor %}
							<input type="Submit" name="submit" value="Filter"/>
						</form>
					</div>
				</li>
				<li class="nav navbar-toggler"><canvas id="Max_Total_Sales" width="400" height="200"></canvas></li>
				<li class="nav navbar-toggler"><canvas id="Max_Ave_Sales" width="400" height="200"></canvas></li>
				<li class="nav navbar-toggler"><canvas id="Max Общие продажи в $" width="400" height="200"></canvas></li>
			</ul>
		</div>
	</div>
</div>
{% else %}

{% endif %} 
{% endblock %}
